@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Istok+Web&family=Itim&family=K2D:ital,wght@1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* font-family: 'Inter', sans-serif;
font-family: 'Istok Web', sans-serif;
font-family: 'Itim', cursive;
font-family: 'K2D', sans-serif; */


